.forgot-password-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
}
.forgot-password-form label {
  display: block;
  margin: 30px auto;
}
.forgot-password-form span {
  display: block;
  margin-bottom: 6px;
}
.forgot-password-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
}
